.contents {
   display: flex;
   flex-direction: row; /* 수평 정렬 */
   flex-wrap: wrap; /* 요소의 개수가 콘테이너를 벗어나면 줄바꿈 */
   align-content: baseline;
   top: 50px; /* 헤더 높이만큼 */
   left: 80px; /* 사이드바 너비만큼 */
   margin: 20px 0; /* 적당한 간격 */
   width: calc(100% - 120px);
   height: 100%;
   position: relative;
}


/* 여기까지 상단 추천 카테고리!!!!!!!!! */

/* 상단 추천 카테고리 영역 */
.recommand_menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #181818;
    top: 45px;
    height: 50px;
    z-index: 50;
    overflow-x: scroll;
}

/* 각 카테고리 */
.menuBox {
    display: flex; /* 요소 정렬 */
    flex-direction: row; /* 주축 x축, 수평 정렬*/
    align-items: center; /* 텍스트 y축 기준으로 중앙 배치*/
    justify-content: space-between; /* 페이지 너비 늘려도 적절히 크기 조절?*/
    font-size: 14px;
    color: rgb(242, 242, 242);
    border-radius: 10px 10px 10px 10px;
    padding: 0 12px;
    margin-right: 12px;
    height: 32px;
    flex-shrink: 0; /* 요소들이 깨지지 않게 */
    background-color: rgb(46, 46, 46);
}

/* 마우스 올려놨을 때 시각 효과 */
.menuBox:hover {
    background-color: gray;
    color: rgb(31, 31, 31);
}

/* 메뉴 클릭 시  */
.menuBox:active {
    background-color: rgb(242, 242, 242);
    color: rgb(31, 31, 31);
}

/* 여기까지 상단 추천 카테고리----------------------------------------------------------------------------*/



/* 여기서부터 메인컨텐츠 -----------------------------------------------------------! */

/* 각 영상 정보를 담을 컨테이너 */
.content {
    margin-top: 50px;
    margin-right: 20px;
    display: block;
    position: relative;
    height: fit-content;
}

/* 섬네일 영역 */
.thumbnail_box {
    width: fit-content;
    position: relative;
}

/* 실제 섬네일 이미지 */
.thumbnail_box img {
    width: 360px;
    border-radius: 20px 20px;
}

/* 영상 플레이타임 */
.playtime {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: black;
    border-radius: 20%;
    font-size: 12px;
    padding: 2px;

}

/* 섬네일 밑 영상 상세 정보 */
.video_details {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* 채널 섬네일 영역 */
.video_profile_box img {    
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

/* 영상 정보 제목, 유튜버 이름, 조회수 등 */
.details_box {
    margin-left: -120px;
    flex-grow: 0;
}

/* 더보기 영역 */
.more {
    align-self: baseline; /* 위쪽 배치 */
}

/* 더보기 아이콘 */
.more img {
    width: 6px;
    background-color: white;
}