.sidebar {
    font-size: 10px; /* 전역적으로 폰트 사이즈 설정*/
    margin-top: 40px; /* 헤더 높이만큼  */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 72px;
    margin-left: 5px;
    height: 100%;
    display: block; /* 쌓이는 형식 */ 
    position: fixed; /*  화면 좌측 고정 */
    background-color: #181818;
}

/* 각 사이드바의 메뉴에 대해 높이 한번에 지정 */
.home_menu ,.shorts_menu ,.subscribe_menu ,.mypage_menu {
    height: 80px; /* 각 메뉴 탭이 차지하는 공간 */
    margin: 15px 0; /* 상하에 대해서만 */
    display: flex; /* 중앙 정렬하기 위해 */
    flex-direction: column; /* flex요소들의 배치 방법을 수직으로 주축Y */
    justify-content: center; /* 각 메뉴의 중앙에 아이콘 텍스트가 위치할 수 있도록 이때 주축은 y축 */
}
